<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Logout page</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'><link rel="stylesheet" href="../../static/style/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Vishank Kumar">
  <title>Logout Page</title>
</head>
<body>
<!-- Main Content -->
<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
      <h4 class="company_title">Your Company Logo</h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
      <div class="container-fluid">
        <div class="row">
          <h2>Log out</h2>
        </div>
        <div class="row">
          <p class="text-center"> You have been successfully logged out.</p>
        </div>
        <div class="row">
          <p><a href="#">Login Here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
</body>
<!-- partial -->

</body>
</html>
